# Database
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/postgres?schema=public"

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
AUTH_METHODS=murgid

# MurgID
MURGID_CLIENT_ID=
MURGID_CLIENT_SECRET=
MURGID_CLIENT_DISCOVERY_URL=

# Analytics
PUBLIC_ENABLE_ANALYTICS=false
PUBLIC_ANALYTICS_LINK=
PUBLIC_ANALYTICS_ID=
